.card_1{
    width: 290px;
    height: 400px;
    background-color: #1F1F1F;
    border-radius: 10px;
    padding-top: 11.455px;
    padding-left: 11.455px;
    padding-bottom: 50pxz;
}
.text_1_1{
    font-size: 20px;
    color: white;
    margin-top: 5px;
}
.img_1_2{
    padding-top: 20px;
    color: white;
    display: flex;
    align-items: center;
}
.text_1_2{
padding-left: 10px;
}
.img_1_3{
    padding-left: 80px;
}
.text_1_3{
    padding-left: 5px;
}
.text_1_4{
    
}
.header{
   height: 250px;
    background-color: rgb(248, 231, 209);
}
.reclam{
    height: 250px;
    background-color: rgb(247, 186, 107);
}
.art{
    height: 200px;
    background-color: cadetblue;
}
.collection{
    height: 200px;
    background-color: blueviolet;
}
.avatar{
    height: 635px;
    top: 2198.94px;
    left: 0.05px;
    background-color: black;
}
.explore{
    height: 1200px;
    background-color: brown;
}
.iphone{
    height: 500px;
    background-color: beige;
}
.nftdistro{
    height: 250px;
    background-color: aquamarine;
}